<div class="container-grid">
  <div class="row">
    <h1>Panel dodania hotelu do bazy </h1>
  </div>
  <div class="row">
    <form (ngSubmit)="onSaveHotel()">
      <input type="hidden" name="countryId" [(ngModel)]="hotel.id">
      <div class="form-container-grid">
        <div class="form-group box1">
          <label for="hotelName">Hotel:</label>
          <input type="text" name="hotelName" id="hotelName" class="form-control" [(ngModel)]="hotel.name">
        </div>
        <div class="form-group box2">
          <label for="hotelStandard">Standard Hotelu:</label>
          <select type="text" name="hotelStandard" id="hotelStandard" class="form-control" [(ngModel)]="hotel.standard">
            <option *ngFor="let standard of standards" [value]="standard">{{standard}}</option>
          </select>
        </div>
        <div class="form-group box3">
          <label for="city">Miasto:</label>
          <select class="form-control" id="city" name="city" [(ngModel)]="hotel.cityId" name="contId">
            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
          </select>
        </div>

        <div class="form-group box4" >
          <label for="hotelDescription">Opis hotelu:</label><br/>
          <textarea type="text" name="hotelDescription" id="hotelDescription" class="form-control" rows="5"
                    [(ngModel)]="hotel.description"></textarea>
        </div>

      </div>
      <div class="button-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</div>
