.row{
  margin-left: 20%;
  margin-right: 20%;
  border: 0.15rem solid gray;
  padding: 3rem;
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 5rem;


}

.form-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.box4{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;


}
.hotelDescription{
  width: fit-content;
}
