
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Edycja</th>
      <th scope="col">Usuwanie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let continent of continents">
      <th scope="row">{{continent.id}}</th>
      <td>{{continent.name}}</td>
      <td><a href="/country-add/{{continent.id}}" role="button" class="btn btn-primary btn-sm">Zmień</a></td>
      <td><a href="/country-add/{{continent.id}}" role="button" class="btn btn-primary btn-sm">Usuń</a></td>
    </tr>
    </tbody>
  </table>
  <button type="button" (click)="goBack()">Back</button>
</div>
