<script src="city-add.component.ts"></script>
<div class="container-grid">
  <div class="row">
    <h1>Panel dodania kontynentu do bazy </h1>
  </div>
  <div class="row">
    <form (ngSubmit)="onSaveContinent()">
      <input type="hidden" name="cityId" [(ngModel)]="continent.id">
      <div class="form-container-grid">
        <div class="form-group box1">
          <label for="cityName">Kontynent:</label>
          <input type="text" name="cityName" id="cityName" class="form-control" [(ngModel)]="continent.name">
        </div>
      </div>
      <div class="button-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class ="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</div>

