<div class="container-grid">

  <form>
    <input type="hidden" name="tripid">
    <div class="form-grid">
      <div class="form-group box1">
        <label>Kierunek podróży </label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group box2">
        <label>Wyjazd od: </label>
          <input type="date" class="form-control" placeholder="yyyy-mm-dd">
        <div class="input-group-append cal-grid">
          <button class="btn btn-outline-secondary calendar " ></button>
        </div>

      </div>
      <div class="form-group  box3">
        <label>Powrór do: </label>
        <input type="date" class="form-control">
      </div>
      <div class="form-group box4">
        <label>Dorosli: </label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group  box5">
        <label>Dzieci: </label>
        <select type="text" class="form-control" (change)=saveValue($event)>
          <option selected></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div *ngIf="savedKids > 0" [hidden]="showClick" class="form-group box6">
        <label>Wiek dziecka: </label>
        <input type="text" class="form-control">
      </div>
      <div *ngIf="savedKids > 1" [hidden]="showClick" class="form-group box6">
        <label>Wiek dziecka: </label>
        <input type="text" class="form-control">
      </div>
      <div *ngIf="savedKids > 2" [hidden]="showClick" class="form-group box6">
        <label>Wiek dziecka: </label>
        <input type="text" class="form-control">
      </div>
      <div *ngIf="savedKids > 3" [hidden]="showClick" class="form-group box6">
        <label>Wiek dziecka: </label>
        <input type="text" class="form-control">
      </div>

      <div class="box7">
        <button type="submit" class="btn btn-primary">Szukaj ofert</button>
      </div>
    </div>
  </form>


  <div>
    <p class="line-trips">3 Najlepsze oferty</p><br/>
    <div class="card-deck">
      <div class="card" *ngFor="let trip of trips">
        <img [src]=trip.picture class="card-img-top" alt="..."/>
        <div class="card-body">
          <h4 class="card-title">{{trip.town}}</h4>
          <ul>
            <li>Data wycieczki: {{trip.date}}</li>
            <li>Wyżywienie: {{trip.food}}</li>
            <li>Cena: {{trip.price}} PLN</li>
          </ul>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <!-- 2 zestaw wycieczek --><br/>
    <p class="line-trips">3 Najlepsze oferty : Azja</p><br/>
    <div class="card-deck">
      <div class="card" *ngFor="let trip of tripsAzja">
        <img [src]=trip.picture class="card-img-top" alt="..."/>
        <div class="card-body">
          <h4 class="card-title">{{trip.town}}</h4>
          <ul>
            <li>Data wycieczki: {{trip.date}}</li>
            <li>Wyżywienie: {{trip.food}}</li>
            <li>Cena: {{trip.price}} PLN</li>
          </ul>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <!-- 3 zestaw wycieczek --><br/>
    <p class="line-trips">3 Najlepsze oferty : Europa</p><br/>
    <div class="card-deck">
      <div class="card" *ngFor="let trip of tripsAzja">
        <img [src]=trip.picture class="card-img-top" alt="..."/>
        <div class="card-body">
          <h4 class="card-title">{{trip.town}}</h4>
          <ul>
            <li>Data wycieczki: {{trip.date}}</li>
            <li>Wyżywienie: {{trip.food}}</li>
            <li>Cena: {{trip.price}} PLN</li>
          </ul>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

