.container-grid {

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;

}

.card {
  border: 1px solid #E0FFFF;
  border-right: 0.25rem;

}

.card-deck li {
  text-align: left;
  list-style-type: none;
  font-family: Trattatello, fantasy;
  font-size: 1.5rem;


}

.line-trips {
  font-size: 3rem;
  font-family: Trattatello, fantasy;
}

.card-body {
  padding-left: 0px;
}

.card-title {
  font-family: Trattatello, fantasy;

}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr 1fr 1fr 1fr);
  background-color: rgba(72, 209, 204, 0.12);
  grid-gap: 1rem;
  padding: 2rem;

}

.box1 {

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}

.box2 {

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

}

.box3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.box6 {

}

.box7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;

}

.cal-grid{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  position: absolute;

}
