<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Kraj</th>
      <th scope="col">Miasto</th>
      <th scope="col">Ilość miejsc</th>
      <th scope="col">Opis</th>
      <th scope="col">Lotnisko</th>
      <th scope="col">Zdjęcie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trip of trips">
      <th scope="row">{{trip.id}}</th>
      <td>{{trip.contId}}</td>
      <td>{{trip.countryId}}</td>
      <td>{{trip.cityId}}</td>
      <td>{{trip.countOfPeople}}</td>
      <td>{{trip.description}}</td>
      <td>{{trip.airportId}}</td>
      <td>{{trip.picture}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" (click)="goBack()">Back</button>
</div>
