<div class="container-grid">
  <div class="row">
    <h1>Panel dodania kraju do bazy </h1>
  </div>
  <div class="row">
    <form (ngSubmit)="onSaveCountry()">
      <input type="hidden" name="countryId" [(ngModel)]="country.id">
      <div class="form-container-grid">
        <div class="form-group box1">
          <label for="countryName">Kraj:</label>
          <input type="text" name="countryName" id="countryName" class="form-control" [(ngModel)]="country.name">
        </div>
        <div class="form-group box2">
          <label for="continent1">Kontynent:</label>
          <select class="form-control" id="continent1" name="continent" [(ngModel)]="country.contId" name="contId">
            <option *ngFor="let cont of continents" [value]="cont.id">{{cont.name}}</option>
          </select>
        </div>
      </div>
      <div class="button-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class ="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</div>
