<div class="container-grid">
  <div class="row">
    <h1>Panel dodawania wycieczek</h1>
  </div>
  <div class="row">
    <form (ngSubmit)="onSaveTrip()">
      <input type="hidden" name="tripId" [(ngModel)]="trip.id">
      <div class="form-container-grid">
        <div class="form-group box1">
          <label for="tripName">Nazwa wycieczki:</label>
          <input type="text" name="tripName" id="tripName" class="form-control" [(ngModel)]="trip.tripName">
        </div>
        <div class="form-group box2">
          <label for="continent">Kontynent:</label>
          <select class="form-control" id="continent" name="continent" [(ngModel)]="trip.contId"
                  (change)="loadCountries(trip.contId)">
            <option *ngFor="let cont of continents" [value]="cont.id">{{cont.name}}</option>

          </select>

        </div>
        <div class="form-group">
          <label for="country">Kraj</label>
          <select type="text" class="form-control" id="country" name="country" [(ngModel)]="trip.countryId"
                  (change)="loadCities(trip.countryId)">
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">Miasto</label>
          <select type="text" class="form-control" id="city" name="city" [(ngModel)]="trip.cityId"
                  (change)="loadHotels(trip.cityId)" (change)="loadAirport(trip.cityId)">
            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hotel">Hotel</label>
          <select type="text" class="form-control" id="hotel" name="hotel" [(ngModel)]="trip.hotelToId">
            <option *ngFor="let hotel of hotels" [value]="hotel.id">{{hotel.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="airport">Lotnisko: </label>
          <select type="text" class="form-control" id="airport" name="airport" [(ngModel)]="trip.airportId">
            <option *ngFor="let airport of airports" [value]="airport.id">{{airport.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="countOfPeople">Ilość dostępnych miejsc</label>
          <input type="text" class="form-control" id="countOfPeople" name="countOfPeople" [(ngModel)]="trip.countOfPeople">

        </div>

        <div class="form-group">
          <label for="tripPicture">Zdjęcie</label>
          <input type="text" class="form-control" id="tripPicture" name="tripPicture" [(ngModel)]="trip.picture">
        </div>
        <div class="form-group">
          <label for="tripPrice">Cena</label>
          <input type="text" class="form-control" id="tripPrice" name="tripPrice" [(ngModel)]="trip.price">
        </div>
        <div class="form-group">
          <label for="typ">Typ wyżywnienia</label>
          <select type="text" class="form-control" id="typ" name="typ" [(ngModel)]="trip.typ">
            <option *ngFor="let typ of typs" [value]="typ">{{typ}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tripDescription">Opis wycieczki</label>
          <textarea class="form-control" id="tripDescription" rows="3" name="description"[(ngModel)]="trip.description"></textarea>
        </div>

      </div>
      <div class="button-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class ="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</div>
