.row{
  margin-left: 20%;
  margin-right: 20%;
  border: 0.15rem solid gray;
  padding: 3rem;
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;

}

.form-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}
