<div class="container-grid">
<div>Panel administratora - zarządzaj swoim biurem podróży</div>
<div>
  <table class="table">
    <tr *ngFor="let menu of menuAdmin">
      <th scope="row">{{menu.nameMenu}}</th>
    <td><a role="button" class="btn btn-outline-primary" href={{menu.addMenu}}>Dodaj</a></td>
    <td><a role="button" class="btn btn-outline-primary" href={{menu.changeMenu}}>Zarządzaj</a></td>
    </tr>
  </table>
</div>
</div>
