<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kraj</th>
      <th scope="col">Standard</th>
      <th scope="col">Opis</th>
      <th scope="col">Zmiana</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotels">
      <th scope="row">{{hotel.id}}</th>
      <td>{{hotel.name}}</td>
      <td>{{hotel.standard}}</td>
      <td>{{hotel.description}}</td>
      <td><a href="/hotel-add/{{hotel.id}}" role="button" class="btn btn-primary btn-sm">Zmień</a></td>
      <td><a href="/hotel-add/{{hotel.id}}" role="button" class="btn btn-primary btn-sm">Usuń</a></td>
    </tr>
    </tbody>
  </table>
  <button type="button" (click)="goBack()">Back</button>
</div>
