<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kraj</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let airport of airports">
      <th scope="row">{{airport.id}}</th>
      <td>{{airport.name}}</td>
      <td><a href="/airport-add/{{airport.id}}" role="button" class="btn btn-primary btn-sm">Zmień</a></td>
      <td><a href="/airport-add/{{airport.id}}" role="button" class="btn btn-primary btn-sm">Usuń</a></td>
    </tr>
    </tbody>
  </table>
  <button type="button" (click)="goBack()">Back</button>
</div>
