<div class="container-grid">
<div class="row">
  <h1>Panel dodania lotniska do bazy </h1>
</div>
<div class="row">
  <form (ngSubmit)="onSaveAirport()">
    <input type="hidden" name="countryId" [(ngModel)]="airport.id">
    <div class="form-container-grid">
      <div class="form-group box1">
        <label for="airportName">Lotnisko:</label>
        <input type="text" name="airportName" id="airportName" class="form-control" [(ngModel)]="airport.name">
      </div>
      <div class="form-group box3">
        <label for="city">Miasto:</label>
        <select class="form-control" id="city" name="city" [(ngModel)]="airport.cityId" name="contId">
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
      </div>

    </div>
    <div class="button-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
</div>
