<script src="city-add.component.ts"></script>
<div class="container-grid">
<div class="row">
  <h1>Panel dodania miasta do bazy </h1>
</div>
<div class="row">
  <form (ngSubmit)="onSaveCity()">
    <input type="hidden" name="cityId" [(ngModel)]="city.id">
    <div class="form-container-grid">
      <div class="form-group box1">
        <label for="cityName">Miasto:</label>
        <input type="text" name="cityName" id="cityName" class="form-control" [(ngModel)]="city.name">
      </div>
      <div class="form-group box2">
        <label for="continent1">Państwo:</label>

        <select class="form-control" id="continent1" name="continent" [(ngModel)]="city.countryId" name="contId" >
          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
    </div>
    <div class="button-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class ="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
</div>
