<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="title-main"><h1 class="title-h1">{{title}}</h1></div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" a routerLink="/dashboard">Pulpit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/promoted-trips" >Wycieczki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminpanel">Panel administratora</a>
    </li>
  </ul>
  <router-outlet></router-outlet>

</div>

