.title-main{
  background-color: #48D1CC;
  height: 5rem;
  padding: 7rem;
  border-bottom: solid #E0FFFF;

}

.title-h1{
  font-family: Trattatello, fantasy;

}

.nav{
  font-family: Trattatello, fantasy;
  font-size: 2rem;
}
