/* You can add global styles to this file, and also import other style files */
.button-grid{

  margin-right: auto;
  margin-top: 2rem;
  width: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}


